.container {
  width: 550px;
  height: 330px;
  grid-gap: 10px;
  display: grid;
  grid-template-columns: 250px 250px;

  grid-auto-rows: 100px 250px;
  margin-bottom: 40px;
}

.winnerColor {
  color: red;
}
